<!-- Sidebar -->
<aside class="sidebar">
  <img class="photo" src="./images/avatar.png" width="320" alt="my photo" />

  <!-- Contacts -->
  <div class="contacts">
    <h3 class="sidebar_title">Contacts</h3>
    <div>
      <p>
        <a class="contact_link" href="tel:+380930000000">+38 093 000 00 00</a>
      </p>
      <p>
        <a class="contact_link" href="mailto:max@gmail.com">max@gmail.com</a>
      </p>
      <p>
        <a
          class="contact_link"
          href="https://t.me/MaxKorovchenko"
          target="_blank"
          rel="noopener norefferer"
          >Telegram</a
        >
      </p>
      <p>
        <a
          class="contact_link"
          href=""
          target="_blank"
          rel="noopener norefferer"
          >Linkedin</a
        >
      </p>
      <p>
        <a
          class="contact_link"
          href="https://github.com/MaxKorovchenko"
          target="_blank"
          rel="noopener norefferer"
          >Github</a
        >
      </p>
      <p class="contact_link">Kramatorsk, Ukraine</p>
    </div>
  </div>

  <!-- Tech skills -->
  <div class="tech_skills">
    <h3 class="sidebar_title">Tech Skills</h3>
    <ul class="tech_skills_list">
      <li class="tech_skills_item">
        <span class="tech_skills_text">HTML</span>
      </li>
      <li class="tech_skills_item">
        <span class="tech_skills_text">CSS</span>
      </li>
      <li class="tech_skills_item">
        <span class="tech_skills_text">SASS</span>
      </li>
      <li class="tech_skills_item">
        <span class="tech_skills_text">GIT</span>
      </li>
      <li class="tech_skills_item">
        <span class="tech_skills_text">Parcel</span>
      </li>
      <li class="tech_skills_item">
        <span class="tech_skills_text">JavaScript</span>
      </li>

      <!-- <li class="tech_skills_item">
        <span class="tech_skills_text">Node.js</span>
      </li> -->
    </ul>
  </div>

  <!-- Soft skills -->
  <div class="soft_skills">
    <h3 class="sidebar_title">Soft Skills</h3>
    <ul class="soft_skills_list">
      <li class="soft_skills_item">
        <span class="soft_skills_text">Honesty</span>
      </li>
      <li class="soft_skills_item">
        <span class="soft_skills_text">Reliability</span>
      </li>
      <li class="soft_skills_item">
        <span class="soft_skills_text">Discipline</span>
      </li>
      <li class="soft_skills_item">
        <span class="soft_skills_text">Adaptability</span>
      </li>
    </ul>
  </div>

  <!-- Language skills -->
  <div class="language_skills">
    <h3 class="sidebar_title">Languages</h3>
    <ul class="language_skills_list">
      <li class="language_skills_item">
        <span class="language_skills_text">Ukrainian – native</span>
      </li>
      <li class="language_skills_item">
        <span class="language_skills_text">English – upper-intermediate</span>
      </li>
      <li class="language_skills_item">
        <span class="language_skills_text">Russian – fluent</span>
      </li>
    </ul>
  </div>
</aside>
