/* tech_skills */

.tech_skills_list {
  color: white;
  padding: 0;
  margin-left: 17px;
}

.tech_skills_item {
  color: #fb6d3a;
}

.tech_skills_text,
.language_skills_text,
.soft_skills_text {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* soft skills */

.tech_skills,
.soft_skills,
.language_skills {
  margin-left: 40px;
  margin-bottom: 50px;
}

.soft_skills_list,
.language_skills_list {
  color: white;
  padding: 0;
  margin-left: 17px;
}

.tech_skills_item,
.soft_skills_item,
.language_skills_item {
  color: #b3b317;
}
