/* reset */
h1,
h2,
h3,
h4,
h6,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  //list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;

  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

.container {
  padding: 15px;

  border-radius: 5px;
  box-shadow: 3px 3px 10px #252070;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;

  width: 1000px;
  margin: 10px auto;

  box-shadow: 2px 2px 7px #252070;
}

.main_content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 30px;
}

/* sidebar styles */

.sidebar {
  background-color: #353e4c;
  padding-top: 40px;
  width: 320px;
}

.photo {
  margin-bottom: 20px;
}
